.board {
    width: 900px;
    height: 900px;
    background-color: antiquewhite;
    display: grid;
    font-size: 50px;
    text-align: center;
    color: rgb(253, 52, 96);
    grid-template-columns: 300px 300px 300px;
}

.board div {
    width: 300px;
    height: 300px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.39);
}
.item {
    color: rgb(97, 97, 241);
}