.board {
    width: 900px;
    height: 900px;
    background-color: antiquewhite;
    display: grid;
    font-size: 150px;
    color: rgb(80, 65, 68);
    grid-template-columns: 300px 300px 300px;
}

.board div {
    width: 300px;
    height: 300px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.39);
    text-align: center;
    line-height: 2.0;
}

.maru {
    color: rgb(238, 56, 96);
}

.batu {
    color: rgb(82, 82, 218);
}
