div {
    width: 250px;
    height: 250px;
    background-color: antiquewhite;
    float: left;
    font-size: 50px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.39);
    color: rgb(253, 52, 96);
}

.item {
    color: rgb(97, 97, 241);
}